In [8]:
from pandas_gbq import read_gbq
from pathlib import Path
import os

In [9]:
PROCEDURES=Path("./procedures")
PROJECT_ID=os.getenv("PROJECTID") 
# Pass a project-id to a Google Cloud Project.
# Make sure that your google account associated to the google cloud project is the same authorized to access eICU

In [10]:
query=open(PROCEDURES / "transfusion.sql","r").read()
transfusion_df=read_gbq(query,project_id=PROJECT_ID)
transfusion_df

/usr/local/lib/python3.12/site-packages/google/cloud/bigquery/table.py:2379: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

,patientunitstayid,itemid,offset,item,value,unit
0,171881,10545054,18442,Volume-Transfuse red blood cells,0.00,ml
1,233591,16947217,7357,Volume-Transfuse red blood cells,0.00,ml
2,225082,10199800,7929,Volume-Transfuse red blood cells,0.00,ml
3,158554,17092117,861,Volume-Transfuse red blood cells,30.00,ml
4,192676,17264846,5305,Volume-Transfuse red blood cells,50.00,ml
...,...,...,...,...,...,...
5836,200552,12159930,721,Volume-Transfuse red blood cells,266.44,ml
5837,241531,12599165,853,Volume-Transfuse red blood cells,302.19,ml
5838,149119,13798701,1572,Volume-Transfuse red blood cells,320.83,ml
5839,225311,15278430,17388,Volume-Transfuse red blood cells,285.83,ml
5840,200551,13911684,22595,Volume-Transfuse red blood cells,293.47,ml

In [11]:
query=open(PROCEDURES / "hgb.sql","r").read()
hgb_df=read_gbq(query,project_id=PROJECT_ID)
hgb_df

/usr/local/lib/python3.12/site-packages/google/cloud/bigquery/table.py:2379: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

         patientunitstayid     itemid  offset item  value  unit
0                   674212  169748465     -80  Hgb    NaN  g/dL
1                  1061601  254959493    -203  Hgb    NaN  g/dL
2                  1060522  254236558    -229  Hgb    NaN  g/dL
3                  1070258  253718933    -173  Hgb    NaN  g/dL
4                  2753696  652952551    -124  Hgb    4.0  g/dL
...                    ...        ...     ...  ...    ...   ...
1298703            1752912  441386403     -96  Hgb   16.8  g/dL
1298704             318421   89860106    -241  Hgb   17.8  g/dL
1298705            1653398  399263168    3159  Hgb   18.8  g/dL
1298706             270718   73441987    -102  Hgb   19.8  g/dL
1298707            2853358  653006600    -230  Hgb   20.8  g/dL

[1298708 rows x 6 columns]

In [12]:
query=open(PROCEDURES / "blood_loss.sql","r").read()
blood_loss_df=read_gbq(query,project_id=PROJECT_ID)
blood_loss_df

/usr/local/lib/python3.12/site-packages/google/cloud/bigquery/table.py:2379: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

       patientunitstayid     itemid  offset        item  value unit
0                3003577  180157539    1863  Blood Loss    0.0   ml
1                3008718  180862463    3942  Blood Loss    0.0   ml
2                3030607  180849675     998  Blood Loss    0.0   ml
3                1587796  119044588   26816  Blood Loss    0.0   ml
4                3004557  180544957    2229  Blood Loss    0.0   ml
...                  ...        ...     ...         ...    ...  ...
14565             150464   17351929    -286  Blood Loss  200.0   ml
14566             189453   15769487    4200  Blood Loss  150.0   ml
14567             148834   13128863    1357  Blood Loss  300.0   ml
14568             163846   10271543      36  Blood Loss  700.0   ml
14569             233767    9635289     -10  Blood Loss  700.0   ml

[14570 rows x 6 columns]

In [10]:
query=open(PROCEDURES / "fluid_balance.sql","r").read()
fluid_balance_df=read_gbq(query,project_id=PROJECT_ID)
fluid_balance_df

/usr/local/lib/python3.12/site-packages/google/cloud/bigquery/table.py:2379: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

In [ ]:
query=open(PROCEDURES / "gb.sql","r").read()
gb_df=read_gbq(query,project_id=PROJECT_ID)
gb_df