In [1]:
from pandas_gbq import read_gbq
from pathlib import Path
import os

In [3]:
PROCEDURES=Path("./procedures")
PROJECT_ID=os.getenv("PROJECTID") 
# Pass a project-id to Google Cloud Project.
# Make sure that your google account associated to the google cloud porject is the same authorized to access eICU

In [10]:
query=open(PROCEDURES / "transfusion.sql","r").read()
transfusion_df=read_gbq(query,project_id=PROJECT_ID)
transfusion_df

/usr/local/lib/python3.12/site-packages/google/cloud/bigquery/table.py:2379: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

,patientunitstayid,itemid,offset,item,value,unit
0,171881,10545054,18442,Volume-Transfuse red blood cells,0.00,ml
1,233591,16947217,7357,Volume-Transfuse red blood cells,0.00,ml
2,225082,10199800,7929,Volume-Transfuse red blood cells,0.00,ml
3,158554,17092117,861,Volume-Transfuse red blood cells,30.00,ml
4,192676,17264846,5305,Volume-Transfuse red blood cells,50.00,ml
...,...,...,...,...,...,...
5836,200552,12159930,721,Volume-Transfuse red blood cells,266.44,ml
5837,241531,12599165,853,Volume-Transfuse red blood cells,302.19,ml
5838,149119,13798701,1572,Volume-Transfuse red blood cells,320.83,ml
5839,225311,15278430,17388,Volume-Transfuse red blood cells,285.83,ml
5840,200551,13911684,22595,Volume-Transfuse red blood cells,293.47,ml

In [11]:
query=open(PROCEDURES / "hgb.sql","r").read()
hgb_df=read_gbq(query,project_id=PROJECT_ID)
hgb_df

/usr/local/lib/python3.12/site-packages/google/cloud/bigquery/table.py:2379: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

In [ ]:
query=open(PROCEDURES / "blood_loss.sql","r").read()
blood_loss_df=read_gbq(query,project_id=PROJECT_ID)
blood_loss_df